.logo-login {
  filter: brightness(100%);
}
.text-login {
  text-align: center;
  color: var(--color-white) !important;
}
.text-logo-form {
  color: var(--color-white);
  font-size: 20px;
}
.form-signup {
  background: var(--color-dark-transparent);
  border-radius: 5px;
  box-shadow: 0 0 10px 0px var(--color-dark-transparent-2);
}
.signup-main {
  padding: 5% 30%;
  background-color: var(--color-black);
}
.ant-form-item-label > label {
    color: var(--color-white);
}
.ant-input,
.ant-input-number,
.ant-input-affix-wrapper,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-input .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
  background: none;
  color: var(--color-white) !important;
}
