.slide-items {
    border-radius: 25px;
    overflow: hidden;
    background: var(--color-dark-transparent);
    color: var(--color-white);
    padding: 20px;
    position: relative;
}
.slide-items-image {
    width: 100%;
    padding: 50px 30px 50px 60px;
}
.slide-items-image img {
    width: 100%;
    object-fit: cover;
}
.slide-items-brand h3{
    color: var(--color-white);
    padding: 20px 0 10px 0;
}
.slide-items-brand p{
    color: var(--color-light);
    font-size: 16px;

}
.slide-items-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}
.slide-items-info span{
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.slide-items-price {
    font-size: 30px;
    padding: 20px 0;
}
.slide-items-email {
    position: absolute;
    bottom: 0;right: 0;
    width: 70px;
    height: 60px;
    background-color: var(--color-blue);
    color: white;
    font-size: 25px;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}