.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.header-top {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    align-items: center;
    color: #fff;
    background: #000;

}
.header-logo {
    width: 20%;
    align-items: center;
    gap: 10px;
}
.menu-header {
    width: 80%;
    color: #fff;
}
.menu-header ul {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 4%;
}
.menu-header ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.menu-header ul li a:hover{
    color: rgb(3, 66, 124);
}