.pro-new {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    color: var(--color-white);
    margin: 3% 0;
}
.pro-new-box {
    justify-content: center;
    text-align: center;
}
.pro-new-box-icon {
    font-size: 20px;
}
.pro-new-box-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 10px 0;
    font-size: 30px;
}
.pro-new-box-des {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-light);
}
.pro-new-img {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}
.pro-new-img img{
    width: 35%;
    object-fit: cover;
}
.start {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.btn-start {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 122, 37);
    border-radius: 50%;
    color: var(--color-white);
    position: relative;
}
.btn-start:hover {
    cursor: pointer;
}
.btn-start::after {
    content: "";
    position: absolute;
    width: 125px;
    height: 125px;
    /* border: 4px solid rgb(0, 122, 37); */
    border-radius: 50%;
    box-shadow:  0px 0px 10px 10px rgb(0, 122, 37);
}