body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-main {
  padding: 0 10%;
}
.bg-dark {
  background: var(--background-dark);
}
.text-white {
  color: var(--color-white);
}
:root {
  --color-white-transparent: rgb(255, 255, 255, 0.2);
  --color-dark-transparent: rgba(121, 121, 121, 0.2);
  --color-dark-transparent-2: rgba(121, 121, 121, 0.6);
  --color-white-light: rgb(192, 192, 192);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --background-dark: rgb(0, 0, 0);
  --background-dark-transparent: rgb(0, 0, 0, 0.7);
  --color-blue: rgb(9, 122, 252);
  --color-light: rgb(95, 95, 95);
}
